
github "zixun/AppBaseKit" >= 1.0.1
github "zixun/AppSwizzle" >= 1.3.1
github "zixun/CrashEye" >= 1.2.0    
github "zixun/ANREye" >= 1.2.0    
github "zixun/SystemEye" >= 0.3.0  
github "zixun/NetworkEye" >= 1.2.0  
github "zixun/LeakEye" >= 1.2.0  

github "marmelroy/FileBrowser" >= 1.0.0
github "startry/SwViewCapture" >= 1.0.6
github "stephencelis/SQLite.swift" >= 0.11.5  
github "eggswift/pull-to-refresh" ~> 2.7